html {
  font-size: 74%;
  @media (min-width: theme('screens.sm')) {
    font-size: 80%;
  }
  @media (min-width: theme('screens.md')) {
    font-size: 100%;
  }
}

html,
body {
  @apply font-sans;
}

body {
  @apply font-sans bg-[#FEFEFE];
}

#__next {
  @apply mx-auto;
  min-height: calc(100vh);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --container-px: 20px;
}