.title {
  font-size: 1.6rem;
  color: #009fa3;
  font-weight: bold;
}

.content {
  color: #333333;
  margin-top: 10px;
  font-size: 1.1rem;
}

.button {
  @apply decoration-[2px] underline-offset-[3px];
  margin-top: 18px;
  font-size: 1.2rem;
  color: #ee4467;
  text-decoration: underline;
  font-weight: bold;
}

.img {
  grid-column: 2;
  grid-row: 1 / 4;
}
